<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <h1>Bem vindo ao quiz!</h1>
  </ion-item>
  <br>
  <ion-item>
    <ion-input label="Insira seu nome" labelPlacement="floating" placeholder="Seu nome" [(ngModel)]="user"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="irParaQuiz(listaQuiz[0])">Vamos para o quiz {{user}}!</ion-button>
  </ion-item>

</ion-content>
